<%- include('../views/partials/header.ejs'); %>
<%- include('../views/partials/navbar.ejs'); %>
    
    
<main role="main" class="container">

  <div class="jumbotron text-center">


      <h1>fileupdate</h1>


      <p class="lead text-info">fileupdate</p>

      <form  action="/fileupdate" encType="multipart/form-data" method="POST">


        <input name="file" type="file">
        <button  type="submit">Submit</button>



      </form>






  </div>
</main>

<%- include('../views/partials/footer.ejs'); %>



    
    
    





