<%- include('../views/partials/header.ejs'); %>
<%- include('../views/partials/navbar.ejs'); %>
    
    
<main role="main" class="container">

  <div class="jumbotron text-center">


      <h1>Bootstrap 4 NavBar</h1>


      <p class="lead text-info">NavBar with too many childs.</p>

      <a href="http://fontenele.github.io/bootstrap-navbar-dropdowns/">Github</a>

  </div>
</main>

<%- include('../views/partials/footer.ejs'); %>



    
    
    





